html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    /* min-height: 100vh; */
    /* display: flex;
    flex-direction: column; */
    
}

main{
    padding-bottom: 5px;
}
.navbar{
    background-color: rgba(73, 71, 71, 0.973);
    box-shadow: 1px 1px 10px black;
    
}
.container-fluid > a , .nav-item > a {
    font-weight: 400;
    color: white;
}

.logo{
    height: 3rem;
}
.div_cards{
    position: relative;
    background-color: yellow;
    width: 100%;
    top: 4.5rem;
    color: black;

}

.div_cards > h1 {
    padding: 50px 0 30px 4rem;
}
.col{
    padding: 10px 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    transition: transform 100ms linear;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 15px black;
}
.card:hover{
    box-shadow: 1px 1px 15px black;
    transform: scale(1.1);
    transition: transform 100ms linear;
}

#footer{
    position: relative;
    bottom: -4.5rem;
    height: 20rem;
    width: 100%;
    background-color: rgb(19, 18, 18);
}

.div_footer{
    position: relative;
    height: 15rem;
    width: 30rem;
    top:2.5rem;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: beige;
    box-shadow: 0px 0px 15px  rgba(255, 255, 0, 0.596) ;
}

.border_div{
    position: relative;
    height: 13rem;
    width: 28rem;
    top:1rem;
    margin: 0 auto;
    border-radius: 1rem;
    border: 2px solid black;
}
.photo{
    position: relative;
    height:13rem;
    width: 10rem;
    border-right: 1px dotted black;
}

.dp{
    height: auto;
    width: 7rem;
    position: relative;
    top: 1.5rem;
    left: 1.5rem;
}

.accio-logo{
    position: relative;
    height: 4rem;
    top: 2rem;
}

.span{
    position: relative;
    top: 1.5rem;
    left: -0.5rem;
    font-weight: bold;
}

.description{
    position: absolute;
    height: 12.8rem;
    width: 17.8rem;
    top: 0;
    left: 10rem;
}

.description > p{
    padding: 10px;
    margin: 0;
    font-weight: bold;

}

.description > p > span {
    font-weight: 500;
}

@media screen and (max-width: 767px) {
    #footer{
        height: 36rem;
        width: auto;
    }

    .photo{
        position: relative;
        height: 16rem;
        width: 18rem;
        border-right: none;
        border-bottom: 2px dotted black;
    }
    .div_footer{
        width: 20rem;
        height: 32rem;

    }

    .border_div{
        width: 18rem;
        height: 30rem;
    }

    .dp{
        height: auto;
        width: 10rem;
        position: relative;
        top: 1.5rem;
        left: 4rem;
    }
    
    .accio-logo{
        position: relative;
        height: 4rem;
        top: 10rem;
        left:-8rem;
    }
    
    .span{
        position: relative;
        top: 3.8rem;
        left: 7rem;
        font-weight: bold;
    }
    .description{
        position: absolute;
        top: 16rem;
        left: 0.5rem;
    }

    
    
    
}